<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_searchpage}
<div {$searchpage_chiddenattr} data-pageid="{$pageid}" data-container="searchpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-6 col-md-offset-3"> 

{BEGIN searchheader}
	<h2 {$bssearchheader_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchheader" >{$pagetitlelabel admin_users search}</h2>
	{BEGIN printtabheader}<h4>{$printtabheader_text}</h4>{END printtabheader}

{END searchheader}



</div>
{END container_header}






</div>
{END container_searchpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$bssearchfields_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchfields" class="form-horizontal" role="form">
<div class="container">
	<div class="form-group">
		<div class="col-md-12" >
			&nbsp;
		</div>
	</div>
</div>
	{BEGIN ID_DOCENTE_fieldblock}		
	<div class="container {$fielddispclass_ID_DOCENTE}" data-fieldname="ID_DOCENTE">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_ID_DOCENTE}">
				{$label admin_users ID_DOCENTE}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_ID_DOCENTE}
			</div>
			<div class="col-md-4" >
				{$ID_DOCENTE_editcontrol}
			</div>
			<div class="col-md-4" >
				{$ID_DOCENTE_editcontrol1}
			</div>
		</div>
	</div>
{END ID_DOCENTE_fieldblock}
	{BEGIN NOMBRES_fieldblock}		
	<div class="container {$fielddispclass_NOMBRES}" data-fieldname="NOMBRES">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_NOMBRES}">
				{$label admin_users NOMBRES}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_NOMBRES}
			</div>
			<div class="col-md-4" >
				{$NOMBRES_editcontrol}
			</div>
			<div class="col-md-4" >
				{$NOMBRES_editcontrol1}
			</div>
		</div>
	</div>
{END NOMBRES_fieldblock}
	{BEGIN CELULAR_fieldblock}		
	<div class="container {$fielddispclass_CELULAR}" data-fieldname="CELULAR">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_CELULAR}">
				{$label admin_users CELULAR}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_CELULAR}
			</div>
			<div class="col-md-4" >
				{$CELULAR_editcontrol}
			</div>
			<div class="col-md-4" >
				{$CELULAR_editcontrol1}
			</div>
		</div>
	</div>
{END CELULAR_fieldblock}
	{BEGIN CORREO_fieldblock}		
	<div class="container {$fielddispclass_CORREO}" data-fieldname="CORREO">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_CORREO}">
				{$label admin_users CORREO}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_CORREO}
			</div>
			<div class="col-md-4" >
				{$CORREO_editcontrol}
			</div>
			<div class="col-md-4" >
				{$CORREO_editcontrol1}
			</div>
		</div>
	</div>
{END CORREO_fieldblock}
	{BEGIN ASIGNATURA_fieldblock}		
	<div class="container {$fielddispclass_ASIGNATURA}" data-fieldname="ASIGNATURA">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_ASIGNATURA}">
				{$label admin_users ASIGNATURA}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_ASIGNATURA}
			</div>
			<div class="col-md-4" >
				{$ASIGNATURA_editcontrol}
			</div>
			<div class="col-md-4" >
				{$ASIGNATURA_editcontrol1}
			</div>
		</div>
	</div>
{END ASIGNATURA_fieldblock}
	{BEGIN PROFESION_fieldblock}		
	<div class="container {$fielddispclass_PROFESION}" data-fieldname="PROFESION">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_PROFESION}">
				{$label admin_users PROFESION}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_PROFESION}
			</div>
			<div class="col-md-4" >
				{$PROFESION_editcontrol}
			</div>
			<div class="col-md-4" >
				{$PROFESION_editcontrol1}
			</div>
		</div>
	</div>
{END PROFESION_fieldblock}
	{BEGIN FECHACUMPLEA_OS_fieldblock}		
	<div class="container {$fielddispclass_FECHACUMPLEA_OS}" data-fieldname="FECHACUMPLEA_OS">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_FECHACUMPLEA_OS}">
				{$label admin_users FECHACUMPLEA_OS}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_FECHACUMPLEA_OS}
			</div>
			<div class="col-md-4" >
				{$FECHACUMPLEA_OS_editcontrol}
			</div>
			<div class="col-md-4" >
				{$FECHACUMPLEA_OS_editcontrol1}
			</div>
		</div>
	</div>
{END FECHACUMPLEA_OS_fieldblock}
	{BEGIN ESTADO_fieldblock}		
	<div class="container {$fielddispclass_ESTADO}" data-fieldname="ESTADO">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_ESTADO}">
				{$label admin_users ESTADO}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_ESTADO}
			</div>
			<div class="col-md-4" >
				{$ESTADO_editcontrol}
			</div>
			<div class="col-md-4" >
				{$ESTADO_editcontrol1}
			</div>
		</div>
	</div>
{END ESTADO_fieldblock}
	{BEGIN FECHADEREGISTRO_fieldblock}		
	<div class="container {$fielddispclass_FECHADEREGISTRO}" data-fieldname="FECHADEREGISTRO">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_FECHADEREGISTRO}">
				{$label admin_users FECHADEREGISTRO}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_FECHADEREGISTRO}
			</div>
			<div class="col-md-4" >
				{$FECHADEREGISTRO_editcontrol}
			</div>
			<div class="col-md-4" >
				{$FECHADEREGISTRO_editcontrol1}
			</div>
		</div>
	</div>
{END FECHADEREGISTRO_fieldblock}
	{BEGIN CEDULA_fieldblock}		
	<div class="container {$fielddispclass_CEDULA}" data-fieldname="CEDULA">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_CEDULA}">
				{$label admin_users CEDULA}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_CEDULA}
			</div>
			<div class="col-md-4" >
				{$CEDULA_editcontrol}
			</div>
			<div class="col-md-4" >
				{$CEDULA_editcontrol1}
			</div>
		</div>
	</div>
{END CEDULA_fieldblock}
	{BEGIN PASS_fieldblock}		
	<div class="container {$fielddispclass_PASS}" data-fieldname="PASS">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_PASS}">
				{$label admin_users PASS}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_PASS}
			</div>
			<div class="col-md-4" >
				{$PASS_editcontrol}
			</div>
			<div class="col-md-4" >
				{$PASS_editcontrol1}
			</div>
		</div>
	</div>
{END PASS_fieldblock}
	{BEGIN FOTOPERFIL_fieldblock}		
	<div class="container {$fielddispclass_FOTOPERFIL}" data-fieldname="FOTOPERFIL">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_FOTOPERFIL}">
				{$label admin_users FOTOPERFIL}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_FOTOPERFIL}
			</div>
			<div class="col-md-4" >
				{$FOTOPERFIL_editcontrol}
			</div>
			<div class="col-md-4" >
				{$FOTOPERFIL_editcontrol1}
			</div>
		</div>
	</div>
{END FOTOPERFIL_fieldblock}
	{BEGIN TOKEN_fieldblock}		
	<div class="container {$fielddispclass_TOKEN}" data-fieldname="TOKEN">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_TOKEN}">
				{$label admin_users TOKEN}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_TOKEN}
			</div>
			<div class="col-md-4" >
				{$TOKEN_editcontrol}
			</div>
			<div class="col-md-4" >
				{$TOKEN_editcontrol1}
			</div>
		</div>
	</div>
{END TOKEN_fieldblock}
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container form-horizontal   "> 




{BEGIN container_bbuttons}
<div {$bbuttons_chiddenattr} data-pageid="{$pageid}" data-container="bbuttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-10 col-md-offset-2"> 

{BEGIN searchbuttons}
{BEGIN search_button}
<button class="btn btn-primary" {$searchbutton_attrs}>Search</button>
{END search_button} 
{BEGIN reset_button}
<button class="btn btn-default" {$resetbutton_attrs}>Reset</button>
{END reset_button}
{BEGIN back_button}
<button class="btn btn-default" {$backbutton_attrs}>Back to list</button>
{END back_button}
{END searchbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_bbuttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
