<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-add" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_addpage}
<div {$addpage_chiddenattr} data-pageid="{$pageid}" data-container="addpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-12 "> 

{BEGIN addheader}
	<h2 {$addheader_hiddenattr} data-pageid="{$pageid}" data-brick="addheader" >{$pagetitlelabel admin_users add}</h2>
	{BEGIN printtabheader}<h4>{$printtabheader_text}</h4>{END printtabheader}

{END addheader}



</div>
{END container_header}








{BEGIN container_message}
<div {$message_chiddenattr} data-pageid="{$pageid}" data-container="message" class="   col-md-12 "> 

{BEGIN message_block}
<div {$message_hiddenattr} data-pageid="{$pageid}" data-brick="message" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN back_button}
		<button class="btn btn-sm btn-default" {$backbutton_attrs}>Back to list</button>
{END back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>View</button>
{END view_page_button}
{BEGIN edit_page_button}
	<button class="btn btn-sm btn-default" {$edit_page_button_attrs}>Edit</button>
{END edit_page_button}
</div>
</div>

{END message_block}



</div>
{END container_message}







</div>
{END container_addpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="    "> 


<div {$addfields_hiddenattr} data-pageid="{$pageid}" data-brick="addfields" role="form">
	<div class="container">
					{BEGIN TOKEN_fieldblock}
<div class="col-md-6 form-group {$fielddispclass_TOKEN}" data-fieldname="TOKEN" data-signal-error-for="TOKEN{$id}" >
	<label class=" control-label" for="{$labelfor_TOKEN}">
		{BEGIN TOKEN_label}{$label admin_users TOKEN}{END TOKEN_label}
	</label>
	<div class="" >
		{$TOKEN_editcontrol}
	</div>
	<div class="help-block" data-helpfor="TOKEN">
		<div class="text-muted" >
		{$tooltip admin_users TOKEN}
		</div>
	</div>
</div>
{END TOKEN_fieldblock}

					{BEGIN NOMBRES_fieldblock}
<div class="col-md-6 form-group {$fielddispclass_NOMBRES}" data-fieldname="NOMBRES" data-signal-error-for="NOMBRES{$id}" >
	<label class=" control-label" for="{$labelfor_NOMBRES}">
		{BEGIN NOMBRES_label}{$label admin_users NOMBRES}{END NOMBRES_label}
	</label>
	<div class="" >
		{$NOMBRES_editcontrol}
	</div>
	<div class="help-block" data-helpfor="NOMBRES">
		<div class="text-muted" >
		{$tooltip admin_users NOMBRES}
		</div>
	</div>
</div>
{END NOMBRES_fieldblock}

					{BEGIN CELULAR_fieldblock}
<div class="col-md-6 form-group {$fielddispclass_CELULAR}" data-fieldname="CELULAR" data-signal-error-for="CELULAR{$id}" >
	<label class=" control-label" for="{$labelfor_CELULAR}">
		{BEGIN CELULAR_label}{$label admin_users CELULAR}{END CELULAR_label}
	</label>
	<div class="" >
		{$CELULAR_editcontrol}
	</div>
	<div class="help-block" data-helpfor="CELULAR">
		<div class="text-muted" >
		{$tooltip admin_users CELULAR}
		</div>
	</div>
</div>
{END CELULAR_fieldblock}

					{BEGIN CORREO_fieldblock}
<div class="col-md-6 form-group {$fielddispclass_CORREO}" data-fieldname="CORREO" data-signal-error-for="CORREO{$id}" >
	<label class=" control-label" for="{$labelfor_CORREO}">
		{BEGIN CORREO_label}{$label admin_users CORREO}{END CORREO_label}
	</label>
	<div class="" >
		{$CORREO_editcontrol}
	</div>
	<div class="help-block" data-helpfor="CORREO">
		<div class="text-muted" >
		{$tooltip admin_users CORREO}
		</div>
	</div>
</div>
{END CORREO_fieldblock}

					{BEGIN ASIGNATURA_fieldblock}
<div class="col-md-6 form-group {$fielddispclass_ASIGNATURA}" data-fieldname="ASIGNATURA" data-signal-error-for="ASIGNATURA{$id}" >
	<label class=" control-label" for="{$labelfor_ASIGNATURA}">
		{BEGIN ASIGNATURA_label}{$label admin_users ASIGNATURA}{END ASIGNATURA_label}
	</label>
	<div class="" >
		{$ASIGNATURA_editcontrol}
	</div>
	<div class="help-block" data-helpfor="ASIGNATURA">
		<div class="text-muted" >
		{$tooltip admin_users ASIGNATURA}
		</div>
	</div>
</div>
{END ASIGNATURA_fieldblock}

					{BEGIN PROFESION_fieldblock}
<div class="col-md-6 form-group {$fielddispclass_PROFESION}" data-fieldname="PROFESION" data-signal-error-for="PROFESION{$id}" >
	<label class=" control-label" for="{$labelfor_PROFESION}">
		{BEGIN PROFESION_label}{$label admin_users PROFESION}{END PROFESION_label}
	</label>
	<div class="" >
		{$PROFESION_editcontrol}
	</div>
	<div class="help-block" data-helpfor="PROFESION">
		<div class="text-muted" >
		{$tooltip admin_users PROFESION}
		</div>
	</div>
</div>
{END PROFESION_fieldblock}

					{BEGIN FECHACUMPLEA_OS_fieldblock}
<div class="col-md-6 form-group {$fielddispclass_FECHACUMPLEA_OS}" data-fieldname="FECHACUMPLEA_OS" data-signal-error-for="FECHACUMPLEA_OS{$id}" >
	<label class=" control-label" for="{$labelfor_FECHACUMPLEA_OS}">
		{BEGIN FECHACUMPLEA_OS_label}{$label admin_users FECHACUMPLEA_OS}{END FECHACUMPLEA_OS_label}
	</label>
	<div class="" >
		{$FECHACUMPLEA_OS_editcontrol}
	</div>
	<div class="help-block" data-helpfor="FECHACUMPLEA_OS">
		<div class="text-muted" >
		{$tooltip admin_users FECHACUMPLEA_OS}
		</div>
	</div>
</div>
{END FECHACUMPLEA_OS_fieldblock}

					{BEGIN ESTADO_fieldblock}
<div class="col-md-6 form-group {$fielddispclass_ESTADO}" data-fieldname="ESTADO" data-signal-error-for="ESTADO{$id}" >
	<label class=" control-label" for="{$labelfor_ESTADO}">
		{BEGIN ESTADO_label}{$label admin_users ESTADO}{END ESTADO_label}
	</label>
	<div class="" >
		{$ESTADO_editcontrol}
	</div>
	<div class="help-block" data-helpfor="ESTADO">
		<div class="text-muted" >
		{$tooltip admin_users ESTADO}
		</div>
	</div>
</div>
{END ESTADO_fieldblock}

					{BEGIN CEDULA_fieldblock}
<div class="col-md-6 form-group {$fielddispclass_CEDULA}" data-fieldname="CEDULA" data-signal-error-for="CEDULA{$id}" >
	<label class=" control-label" for="{$labelfor_CEDULA}">
		{BEGIN CEDULA_label}{$label admin_users CEDULA}{END CEDULA_label}
	</label>
	<div class="" >
		{$CEDULA_editcontrol}
	</div>
	<div class="help-block" data-helpfor="CEDULA">
		<div class="text-muted" >
		{$tooltip admin_users CEDULA}
		</div>
	</div>
</div>
{END CEDULA_fieldblock}

					{BEGIN FOTOPERFIL_fieldblock}
<div class="col-md-6 form-group {$fielddispclass_FOTOPERFIL}" data-fieldname="FOTOPERFIL" data-signal-error-for="FOTOPERFIL{$id}" >
	<label class=" control-label" for="{$labelfor_FOTOPERFIL}">
		{BEGIN FOTOPERFIL_label}{$label admin_users FOTOPERFIL}{END FOTOPERFIL_label}
	</label>
	<div class="" >
		{$FOTOPERFIL_editcontrol}
	</div>
	<div class="help-block" data-helpfor="FOTOPERFIL">
		<div class="text-muted" >
		{$tooltip admin_users FOTOPERFIL}
		</div>
	</div>
</div>
{END FOTOPERFIL_fieldblock}

	</div>
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_buttons}
<div {$buttons_chiddenattr} data-pageid="{$pageid}" data-container="buttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-4 "> 

{BEGIN addbuttons}
	{BEGIN save_button}
	<button class="btn btn-primary" {$savebutton_attrs}>Save</button>
	{END save_button}
	{BEGIN reset_button}
	<button class="btn btn-default" id="resetButton{$id}">Reset</button>
	{END reset_button}
	{BEGIN back_button}
		<button class="btn btn-default" id="backButton{$id}">Back to list</button>
	{END back_button}
	{BEGIN cancel_button}
	<a href="#" class="btn btn-default" id="cancelButton{$id}">Cancel</a>
	{END cancel_button}

{END addbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_buttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
