<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-list" {$bodyattrs}>
	{BEGIN body}{$header}
		<style>
			{$containerCss}
		</style>
		{BEGIN container_menu}<nav {$menu_chiddenattr} data-pageid="{$pageid}" data-container="menu" class="navbar navbar-default ">					



{BEGIN container_hdr}<div {$hdr_chiddenattr} data-pageid="{$pageid}" data-container="hdr" class=" navbar-header   "> 

{BEGIN logo_block}<a href="{$home_link}" {$logo_hiddenattr} data-pageid="{$pageid}" data-brick="logo" class="navbar-brand" >{$logo}</a>
{END logo_block}


<IMG src="images/logopii.png" border="0">
              {BEGIN collapse_block}<button {$bsnavbarcollapse_hiddenattr} data-pageid="{$pageid}" data-brick="bsnavbarcollapse" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target=".bs-navcontrolled">	
	<span class="sr-only">Toggle navigation</span>	
	<span class="icon-bar"></span>					
</button>												

{END collapse_block}



</div>
{END container_hdr}






{BEGIN container_menu_1}<div {$menu_1_chiddenattr} data-pageid="{$pageid}" data-container="menu_1" class="bs-navform navbar-collapse bs-navcontrolled bs-hidden-xs" aria-expanded="false" >												   
{BEGIN menu_block}{$menu main horizontal}

{END menu_block}





{BEGIN container_more}<div {$more_chiddenattr} data-pageid="{$pageid}" data-container="more" class=" navbar-right navbar-form   "> 

{BEGIN more_list}<div {$morebutton_hiddenattr} data-pageid="{$pageid}" data-brick="morebutton" class="btn-group bs-navsection">
	<ul class="dropdown-menu">
		
				{BEGIN exportselected_link}<li class="massButton{$id} disabled"><a href="#" {$exportselectedlink_attrs} {$exportselectedlink_span} >Export selected</a></li>
		{END exportselected_link}
		
				{BEGIN deleteselected_link}<li class="massButton{$id} disabled"><a href="#" {$deleteselectedlink_attrs} {$deleteselectedlink_span}>Delete selected</a></li>
		{END deleteselected_link}
		
				<li role="separator" class="divider"></li>	

				{BEGIN asearch_link}<li><a href="docente_search.php" {$advsearchlink_attrs}>Advanced search</a></li>
		{END asearch_link}

				{BEGIN searchPanelTopButtons}<li><a href=# id="showOptPanel{$id}">Show search panel</a></li>
		{END searchPanelTopButtons}	
		
				
				<li role="separator" class="divider"></li>	
		
				
				{BEGIN export_link}<li><a target="_blank" href="docente_export.php"  {$exportlink_attrs}>Export results</a></li>
		{END export_link}

		
				
	</ul>  
</div>

{END more_list}


{BEGIN security_block}<span {$loggedas_hiddenattr} data-pageid="{$pageid}" data-brick="loggedas" id="login_block{$id}" class="bs-navsection">
	{BEGIN guestloginbutton}<button class="btn btn-info" type="button" {$guestloginlink_attrs}>Login</button>
	{END guestloginbutton}
	{BEGIN loggedas_message}<span class="dropdown">
			<button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="glyphicon glyphicon-user"></span>	{$username}</button>
			<ul class="dropdown-menu">
		{BEGIN logoutbutton}<li><a href="#" {$logoutlink_attrs}>Log out</a></li>
		{END logoutbutton}
		
		{BEGIN adminarea_link}<li><a href="admin_rights_list.php" {$adminarealink_attrs}>Admin Area</a></li>
		{END adminarea_link}


			</ul>
		</span>
	{END loggedas_message}
</span>
{END security_block}



</div>
{END container_more}








{BEGIN container_more_1}<div {$more_1_chiddenattr} data-pageid="{$pageid}" data-container="more_1" class=" navbar-right navbar-form   "> 

{BEGIN searchform_block}<span {$search_hiddenattr} data-pageid="{$pageid}" data-brick="search" class="form-group">

 <div  class="input-group">
<span class="input-group-btn">
	</span>
</div>
		
</span>
{END searchform_block}



</div>
{END container_more_1}




												</div>						{END container_menu_1}


									</nav>{END container_menu}
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				

{BEGIN container_breadcrumbs}<div {$breadcrumbs_chiddenattr} data-pageid="{$pageid}" data-container="breadcrumbs" class="    "> 




{BEGIN container_bc}<div {$bc_chiddenattr} data-pageid="{$pageid}" data-container="bc" class="    "> 

{BEGIN breadcrumbs}<ol class="breadcrumb">
<li ><a href="{$home_link}"><span class="glyphicon glyphicon-home"></span></a>{$crumb_dropdown}</li>
{BEGIN crumb}<li class="{$crumb_item_class}">
{BEGIN crumb_title_link}<a {$crumb_attrs}>{$crumb_title}</a>
{END crumb_title_link}
{BEGIN crumb_title_span}<span {$crumb_attrs}>{$crumb_title}</span>
{END crumb_title_span}	
	{$crumb_dropdown}
  </li>
{END crumb}
</ol>
{END breadcrumbs}



</div>
{END container_bc}






</div>
{END container_breadcrumbs}




			</div>
			<div class="bs-left" {$blockattr_left}>
				

{BEGIN container_left}<div {$left_chiddenattr} data-pageid="{$pageid}" data-container="left" class="    "> 

{BEGIN searchPanel}<div {$searchpanel_hiddenattr} data-pageid="{$pageid}" data-brick="searchpanel" class="searchOptions panel panel-primary searchPanelContainer " {$srchOpt_attrs} >
	<!-- Search panel content -->
	
	<div class="panel-heading">
		<div class="btn-group" id="addSearchFieldButton{$id}">
			<button id="showHideControlChooseMenu{$id}" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Search in
			<span class="caret"></span>
			</button>
		</div>

		
		<div class="btn-group searchpanel-options" id="searchPanelOptions{$id}">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="glyphicon glyphicon glyphicon-option-vertical"></span>
			</button>
			<ul class="dropdown-menu dropdown-left">
				<li id="showHideSearchType{$id}" {$showHideCtrlsOpt_attrs}><a>Show options</a></li>
				<li role="separator" class="divider"></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAll" {$all_checkbox}><label for="radioAll"><span class="glyphicon">&nbsp;</span>all conditions</label></a></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAny" {$any_checkbox}><label for="radioAny"><span class="glyphicon">&nbsp;</span>any condition</label></a></li>
				<li role="separator" class="divider"></li>
				<li><a class="close-button"><span class="glyphicon glyphicon-remove">&nbsp;</span>hide</a></li>
			</ul>
		</div>
	
		
		</div>
	<div class="panel-body controlsBlock" {$bottomSearchButt_attrs} >


		
		{BEGIN searchCtrlBlock}<div class="srchPanelRow form-group" {$filterRow_attrs}>
			<label>{$fLabel}</label>	{$delCtrlButt}
				<span class="rnr-searchtype">{$searchtype}</span>
				<span class="rnr-searchcontrol">{$searchcontrol}</span>
				<span class="rnr-searchcontrol">{$searchcontrol1}</span>
		</div>
		{END searchCtrlBlock}


	</div>
	
	<div class="panel-footer bottomSearchButt" {$bottomSearchButt_attrs}>
		<button class="btn btn-primary" id="searchButton{$id}" {$searchbutton_attrs}>Search</button>
		<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs}>
		Show all
		</button>
	</div>
</div>


{END searchPanel}




</div>
{END container_left}


			</div>
			<div class="bs-center bs-screenwidth bs-minwidth">
				

{BEGIN container_gridcontrols}<div {$gridcontrols_chiddenattr} data-pageid="{$pageid}" data-container="gridcontrols" class="row rnr-rowcontainer bs-navcontrolled bs-hidden-xs">




{BEGIN container_add_delete}<div {$add_delete_chiddenattr} data-pageid="{$pageid}" data-container="add_delete" class=" bottom-margin  col-md-6 "> 

{BEGIN newrecord_controls_block}{BEGIN add_link}<a {$add_hiddenattr} data-pageid="{$pageid}" data-brick="add" type="button" class="btn btn-primary" {$addlink_attrs}>
                        Nuevo Docente
                      </a>
	{END add_link}

	
{END newrecord_controls_block}


{BEGIN record_controls_block}<span {$recordcontrol_hiddenattr} data-pageid="{$pageid}" data-brick="recordcontrol">
		{BEGIN deleteselected_link}<button type="button" class="btn btn-default" {$deleteselectedlink_attrs} {$deleteselectedlink_span} disabled>
                          Eliminar
                        </button>
	{END deleteselected_link}
		</span>

{END record_controls_block}



</div>
{END container_add_delete}








{BEGIN container_gridinfo}<div {$gridinfo_chiddenattr} data-pageid="{$pageid}" data-container="gridinfo" class=" bottom-margin pull-right text-right col-md-6 "> 

{BEGIN details_found}<span {$details_found_hiddenattr} data-pageid="{$pageid}" data-brick="details_found" class="form-inline form-inline-always">
	{$records_indicator}
	<span>
	{BEGIN recordspp_block}{$recsPerPage}
	{END recordspp_block}
	</span>
</span>
{END details_found}





</div>
{END container_gridinfo}







</div>{END container_gridcontrols}



{BEGIN container_tabs}<div {$tabs_chiddenattr} data-pageid="{$pageid}" data-container="tabs" class="    "> 

{BEGIN grid_tabs}<div {$bsgrid_tabs_hiddenattr} data-pageid="{$pageid}" data-brick="bsgrid_tabs">
<ul class="nav nav-tabs">
{$grid_tabs_content}
</ul>
</div>
{END grid_tabs}



</div>
{END container_tabs}



{BEGIN container_messagerow}<div {$messagerow_chiddenattr} data-pageid="{$pageid}" data-container="messagerow" class="row rnr-rowcontainer ">




{BEGIN container_message}<div {$message_chiddenattr} data-pageid="{$pageid}" data-container="message" class="   col-md-12 "> 

{BEGIN message_block}<div {$message_hiddenattr} data-pageid="{$pageid}" data-brick="message" class="alert {$message_class}" role="alert">{$message}</div>
{END message_block}



</div>
{END container_message}






</div>{END container_messagerow}



{BEGIN container_center}<div {$center_chiddenattr} data-pageid="{$pageid}" data-container="center" class="    "> 




{BEGIN container_grid}<div {$grid_chiddenattr} data-pageid="{$pageid}" data-container="grid" class="bs-grid    "> 

{BEGIN grid_block}<style>
	.bs-gridcell[data-field=ID_DOCENTE]:before {
		content: "{$label docente ID_DOCENTE}";
	}
	.bs-gridcell[data-field=NOMBRES]:before {
		content: "{$label docente NOMBRES}";
	}
	.bs-gridcell[data-field=CELULAR]:before {
		content: "{$label docente CELULAR}";
	}
	.bs-gridcell[data-field=CORREO]:before {
		content: "{$label docente CORREO}";
	}
	.bs-gridcell[data-field=ASIGNATURA]:before {
		content: "{$label docente ASIGNATURA}";
	}
	.bs-gridcell[data-field=PROFESION]:before {
		content: "{$label docente PROFESION}";
	}
	.bs-gridcell[data-field=FECHACUMPLEA_OS]:before {
		content: "{$label docente FECHACUMPLEA_OS}";
	}
	.bs-gridcell[data-field=ESTADO]:before {
		content: "{$label docente ESTADO}";
	}
	.bs-gridcell[data-field=FECHADEREGISTRO]:before {
		content: "{$label docente FECHADEREGISTRO}";
	}
	.bs-gridcell[data-field=CEDULA]:before {
		content: "{$label docente CEDULA}";
	}
	.bs-gridcell[data-field=PASS]:before {
		content: "{$label docente PASS}";
	}
	.bs-gridcell[data-field=FOTOPERFIL]:before {
		content: "{$label docente FOTOPERFIL}";
	}
	.bs-gridcell[data-field=TOKEN]:before {
		content: "{$label docente TOKEN}";
	}
</style>
<STRONG></STRONG><STRONG></STRONG><STRONG></STRONG><STRONG></STRONG><STRONG></STRONG><STRONG></STRONG><STRONG></STRONG><STRONG></STRONG><STRONG></STRONG>
                    <table {$grid_hiddenattr} data-pageid="{$pageid}" data-brick="grid" class="table {$grid_classes} bs-flexgrid rnr-b-grid rnr-gridtable" cellpadding="0" >
	<thead>
										{BEGIN grid_header}<tr class="rnr-toprow {$gridHeader_class}" >
									{BEGIN record_header}{BEGIN listIcons_column}<TH style="white-space: normal; background-image: none; background-color: rgb(92, 49, 118);" rowspan="1" colspan="1" ieditcont="all">
                                  &nbsp;
                                </th>
									{END listIcons_column}	

																		{BEGIN checkbox_column}<TH style="white-space: normal; background-color: rgb(92, 49, 118);" rowspan="1" colspan="1">
                                  <input type="checkbox" {$checkboxheader_attrs}>
									</th>
									{END checkbox_column}

																		
									{BEGIN FOTOPERFIL_fieldheadercolumn}<TH class="rnr-gridfieldlabel {$FOTOPERFIL_class}" style="white-space: normal; background-color: rgb(92, 49, 118);" rowspan="1" colspan="1" data-field="FOTOPERFIL">
                                  <P align="center">
                                    <DIV align="center">
                                      <FONT color="#ffffff">{$label docente FOTOPERFIL}</FONT>
                                    </DIV>
                                    <P>
                                    </P>
                                </th>
									{END FOTOPERFIL_fieldheadercolumn}
									
									
									
									
									{BEGIN NOMBRES_fieldheadercolumn}<TH class="rnr-gridfieldlabel {$NOMBRES_class}" style="white-space: normal; background-color: rgb(92, 49, 118);" rowspan="1" colspan="1" data-field="NOMBRES">
                                  <P align="center">
                                    <DIV align="center">
                                      <FONT color="#ffffff">{$label docente NOMBRES}</FONT>
                                    </DIV>
                                    <P>
                                    </P>
                                </th>
									{END NOMBRES_fieldheadercolumn}
									
									
									
									
									{BEGIN CORREO_fieldheadercolumn}<TH class="rnr-gridfieldlabel {$CORREO_class}" style="white-space: normal; background-color: rgb(92, 49, 118);" rowspan="1" colspan="1" data-field="CORREO">
                                  <P align="center">
                                    <DIV align="center">
                                      <FONT color="#ffffff">{$label docente CORREO}</FONT>
                                    </DIV>
                                    <P>
                                    </P>
                                </th>
									{END CORREO_fieldheadercolumn}
									
									
									
									
									{BEGIN PROFESION_fieldheadercolumn}<TH class="rnr-gridfieldlabel {$PROFESION_class}" style="white-space: normal; background-color: rgb(92, 49, 118);" rowspan="1" colspan="1" data-field="PROFESION">
                                  <P align="center">
                                    <DIV align="center">
                                      <FONT color="#ffffff">{$label docente PROFESION}</FONT>
                                    </DIV>
                                    <P>
                                    </P>
                                </th>
									{END PROFESION_fieldheadercolumn}
									
									
									
									
									{BEGIN ESTADO_fieldheadercolumn}<TH class="rnr-gridfieldlabel {$ESTADO_class}" style="white-space: normal; background-color: rgb(92, 49, 118);" rowspan="1" colspan="1" data-field="ESTADO">
                                  <P align="center">
                                    <DIV align="center">
                                      <FONT color="#ffffff">{$label docente ESTADO}</FONT>
                                    </DIV>
                                    <P>
                                    </P>
                                </th>
									{END ESTADO_fieldheadercolumn}
									
									
									
									
									{BEGIN FECHADEREGISTRO_fieldheadercolumn}<TH class="rnr-gridfieldlabel {$FECHADEREGISTRO_class}" style="white-space: normal; background-color: rgb(92, 49, 118);" rowspan="1" colspan="1" data-field="FECHADEREGISTRO">
                                  <P align="center">
                                    <DIV align="center">
                                      <FONT color="#ffffff">{$label docente FECHADEREGISTRO}</FONT>
                                    </DIV>
                                    <P>
                                    </P>
                                </th>
									{END FECHADEREGISTRO_fieldheadercolumn}
									
									
									
									
									{BEGIN CEDULA_fieldheadercolumn}<TH class="rnr-gridfieldlabel {$CEDULA_class}" style="white-space: normal; background-color: rgb(92, 49, 118);" rowspan="1" colspan="1" data-field="CEDULA">
                                  <P align="center">
                                    <DIV align="center">
                                      <FONT color="#ffffff">{$label docente CEDULA}</FONT>
                                    </DIV>
                                    <P>
                                    </P>
                                </th>
									{END CEDULA_fieldheadercolumn}
									
									
									
									
									{END record_header}
									
								</tr>
								{END grid_header}

	</thead>
	<tbody>	
		{BEGIN grid_row}<tr class="{$rowclass} bs-gridrow" {$rowattrs} {$rowstyle}>
	{BEGIN grid_record}{BEGIN listIcons_column}<TD class="bs-gridicons" rowspan="1" colspan="1" ieditcont="all" {$rowstyle} {$recordattrs}>
                                  {BEGIN edit_column}{BEGIN edit_link}<A title="Editar" class="glyphicon glyphicon-pencil" {$editlink_attrs}>
                                      </a>
	{END edit_link}
	{END edit_column}

		
	<span data-hidden {$ieditbuttonsholder_attrs}></span>

	
		{BEGIN view_column}{BEGIN view_link}<A title="Ver" class="glyphicon glyphicon-search" {$viewlink_attrs}>
                                      </a>
	{END view_link}
	{END view_column}
	</td>	
	{END listIcons_column}	

		{BEGIN checkbox_column}<TD class="bs-gridcheckbox" rowspan="1" colspan="1" ieditcont="checkBox" {$rowstyle} {$recordattrs}>
                                  {BEGIN checkbox}<input type="checkbox" {$checkbox_attrs}>
	{END checkbox}
	</td>
	{END checkbox_column}

	

	{BEGIN FOTOPERFIL_fieldcolumn}<TD class="bs-gridcell {$FOTOPERFIL_class}" rowspan="1" colspan="1" data-field="FOTOPERFIL" {$rowstyle} {$recordattrs}>
                                  <DIV align="center">
                                    {$FOTOPERFIL_value}
	</DIV>
                                </td>
{END FOTOPERFIL_fieldcolumn}


	{BEGIN NOMBRES_fieldcolumn}<TD class="bs-gridcell {$NOMBRES_class}" rowspan="1" colspan="1" data-field="NOMBRES" {$rowstyle} {$recordattrs}>
                                  <DIV align="center">
                                    {$NOMBRES_value}
	</DIV>
                                </td>
{END NOMBRES_fieldcolumn}


	{BEGIN CORREO_fieldcolumn}<TD class="bs-gridcell {$CORREO_class}" rowspan="1" colspan="1" data-field="CORREO" {$rowstyle} {$recordattrs}>
                                  <DIV align="center">
                                    {$CORREO_value}
	</DIV>
                                </td>
{END CORREO_fieldcolumn}


	{BEGIN PROFESION_fieldcolumn}<TD class="bs-gridcell {$PROFESION_class}" rowspan="1" colspan="1" data-field="PROFESION" {$rowstyle} {$recordattrs}>
                                  <DIV align="center">
                                    {$PROFESION_value}
	</DIV>
                                </td>
{END PROFESION_fieldcolumn}


	{BEGIN ESTADO_fieldcolumn}<TD class="bs-gridcell {$ESTADO_class}" rowspan="1" colspan="1" data-field="ESTADO" {$rowstyle} {$recordattrs}>
                                  <DIV align="center">
                                    {$ESTADO_value}
	</DIV>
                                </td>
{END ESTADO_fieldcolumn}


	{BEGIN FECHADEREGISTRO_fieldcolumn}<TD class="bs-gridcell {$FECHADEREGISTRO_class}" rowspan="1" colspan="1" data-field="FECHADEREGISTRO" {$rowstyle} {$recordattrs}>
                                  <DIV align="center">
                                    <STRONG>{$FECHADEREGISTRO_value}
	</STRONG>
                                  </DIV>
                                </td>
{END FECHADEREGISTRO_fieldcolumn}


	{BEGIN CEDULA_fieldcolumn}<TD class="bs-gridcell {$CEDULA_class}" rowspan="1" colspan="1" data-field="CEDULA" {$rowstyle} {$recordattrs}>
                                  <DIV align="center">
                                    {$CEDULA_value}
	</DIV>
                                </td>
{END CEDULA_fieldcolumn}

	{END grid_record}

</tr>
{END grid_row}
	</tbody>
	<tfoot>
										
	</tfoot>
</table>



{END grid_block}



</div>
{END container_grid}






</div>
{END container_center}



{BEGIN container_pagination}<div {$pagination_chiddenattr} data-pageid="{$pageid}" data-container="pagination" class="  text-center col-md-12 "> 

{BEGIN pagination_block}<div {$pagination_hiddenattr} data-pageid="{$pageid}" data-brick="pagination">
{$pagination}
</div>
{END pagination_block}



</div>
{END container_pagination}


			</div>
			<div class="bs-right">
				
			</div>
		</div>
		
		{$footer}
	{END body}
	</body>
</html>
