<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class=" form-horizontal   "> 


{BEGIN COMUNICATIVALOGRO_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_COMUNICATIVALOGRO}" data-fieldname="COMUNICATIVALOGRO" data-signal-error-for="COMUNICATIVALOGRO{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_COMUNICATIVALOGRO}">
			{BEGIN COMUNICATIVALOGRO_label}{$label ESTUDIANTESACARGO COMUNICATIVALOGRO}{END COMUNICATIVALOGRO_label}
		</label>
		<div class="col-md-6 " >
			{$COMUNICATIVALOGRO_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="COMUNICATIVALOGRO">
			<div class="text-muted" >
			{$tooltip ESTUDIANTESACARGO COMUNICATIVALOGRO}
			</div>
		</div>
	</div>
</div>
{END COMUNICATIVALOGRO_tabfieldblock}
{BEGIN COMUNICATIVAINDICADOR_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_COMUNICATIVAINDICADOR}" data-fieldname="COMUNICATIVAINDICADOR" data-signal-error-for="COMUNICATIVAINDICADOR{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_COMUNICATIVAINDICADOR}">
			{BEGIN COMUNICATIVAINDICADOR_label}{$label ESTUDIANTESACARGO COMUNICATIVAINDICADOR}{END COMUNICATIVAINDICADOR_label}
		</label>
		<div class="col-md-6 " >
			{$COMUNICATIVAINDICADOR_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="COMUNICATIVAINDICADOR">
			<div class="text-muted" >
			{$tooltip ESTUDIANTESACARGO COMUNICATIVAINDICADOR}
			</div>
		</div>
	</div>
</div>
{END COMUNICATIVAINDICADOR_tabfieldblock}
{BEGIN COMUNICATIVAESTRATEGIA_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_COMUNICATIVAESTRATEGIA}" data-fieldname="COMUNICATIVAESTRATEGIA" data-signal-error-for="COMUNICATIVAESTRATEGIA{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_COMUNICATIVAESTRATEGIA}">
			{BEGIN COMUNICATIVAESTRATEGIA_label}{$label ESTUDIANTESACARGO COMUNICATIVAESTRATEGIA}{END COMUNICATIVAESTRATEGIA_label}
		</label>
		<div class="col-md-6 " >
			{$COMUNICATIVAESTRATEGIA_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="COMUNICATIVAESTRATEGIA">
			<div class="text-muted" >
			{$tooltip ESTUDIANTESACARGO COMUNICATIVAESTRATEGIA}
			</div>
		</div>
	</div>
</div>
{END COMUNICATIVAESTRATEGIA_tabfieldblock}
{BEGIN COMUNICATIVAHERRAMIENTAS_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_COMUNICATIVAHERRAMIENTAS}" data-fieldname="COMUNICATIVAHERRAMIENTAS" data-signal-error-for="COMUNICATIVAHERRAMIENTAS{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_COMUNICATIVAHERRAMIENTAS}">
			{BEGIN COMUNICATIVAHERRAMIENTAS_label}{$label ESTUDIANTESACARGO COMUNICATIVAHERRAMIENTAS}{END COMUNICATIVAHERRAMIENTAS_label}
		</label>
		<div class="col-md-6 " >
			{$COMUNICATIVAHERRAMIENTAS_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="COMUNICATIVAHERRAMIENTAS">
			<div class="text-muted" >
			{$tooltip ESTUDIANTESACARGO COMUNICATIVAHERRAMIENTAS}
			</div>
		</div>
	</div>
</div>
{END COMUNICATIVAHERRAMIENTAS_tabfieldblock}





</div>
{END container_tabfields}

</div>