<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class=" form-horizontal   "> 


{BEGIN DCLOGRO_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_DCLOGRO}" data-fieldname="DCLOGRO" data-signal-error-for="DCLOGRO{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_DCLOGRO}">
			{BEGIN DCLOGRO_label}{$label ESTUDIANTESACARGO DCLOGRO}{END DCLOGRO_label}
		</label>
		<div class="col-md-6 " >
			{$DCLOGRO_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="DCLOGRO">
			<div class="text-muted" >
			{$tooltip ESTUDIANTESACARGO DCLOGRO}
			</div>
		</div>
	</div>
</div>
{END DCLOGRO_tabfieldblock}
{BEGIN DCINDICADOR_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_DCINDICADOR}" data-fieldname="DCINDICADOR" data-signal-error-for="DCINDICADOR{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_DCINDICADOR}">
			{BEGIN DCINDICADOR_label}{$label ESTUDIANTESACARGO DCINDICADOR}{END DCINDICADOR_label}
		</label>
		<div class="col-md-6 " >
			{$DCINDICADOR_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="DCINDICADOR">
			<div class="text-muted" >
			{$tooltip ESTUDIANTESACARGO DCINDICADOR}
			</div>
		</div>
	</div>
</div>
{END DCINDICADOR_tabfieldblock}
{BEGIN CDESTRATEGIA_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_CDESTRATEGIA}" data-fieldname="CDESTRATEGIA" data-signal-error-for="CDESTRATEGIA{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_CDESTRATEGIA}">
			{BEGIN CDESTRATEGIA_label}{$label ESTUDIANTESACARGO CDESTRATEGIA}{END CDESTRATEGIA_label}
		</label>
		<div class="col-md-6 " >
			{$CDESTRATEGIA_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="CDESTRATEGIA">
			<div class="text-muted" >
			{$tooltip ESTUDIANTESACARGO CDESTRATEGIA}
			</div>
		</div>
	</div>
</div>
{END CDESTRATEGIA_tabfieldblock}
{BEGIN DCHERRAMIENTAS_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_DCHERRAMIENTAS}" data-fieldname="DCHERRAMIENTAS" data-signal-error-for="DCHERRAMIENTAS{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_DCHERRAMIENTAS}">
			{BEGIN DCHERRAMIENTAS_label}{$label ESTUDIANTESACARGO DCHERRAMIENTAS}{END DCHERRAMIENTAS_label}
		</label>
		<div class="col-md-6 " >
			{$DCHERRAMIENTAS_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="DCHERRAMIENTAS">
			<div class="text-muted" >
			{$tooltip ESTUDIANTESACARGO DCHERRAMIENTAS}
			</div>
		</div>
	</div>
</div>
{END DCHERRAMIENTAS_tabfieldblock}





</div>
{END container_tabfields}

</div>