<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class=" form-horizontal   "> 


{BEGIN COMPLOGRO_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_COMPLOGRO}" data-fieldname="COMPLOGRO" data-signal-error-for="COMPLOGRO{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_COMPLOGRO}">
			{BEGIN COMPLOGRO_label}{$label ESTUDIANTESACARGO COMPLOGRO}{END COMPLOGRO_label}
		</label>
		<div class="col-md-6 " >
			{$COMPLOGRO_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="COMPLOGRO">
			<div class="text-muted" >
			{$tooltip ESTUDIANTESACARGO COMPLOGRO}
			</div>
		</div>
	</div>
</div>
{END COMPLOGRO_tabfieldblock}
{BEGIN COMPINDICADOR_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_COMPINDICADOR}" data-fieldname="COMPINDICADOR" data-signal-error-for="COMPINDICADOR{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_COMPINDICADOR}">
			{BEGIN COMPINDICADOR_label}{$label ESTUDIANTESACARGO COMPINDICADOR}{END COMPINDICADOR_label}
		</label>
		<div class="col-md-6 " >
			{$COMPINDICADOR_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="COMPINDICADOR">
			<div class="text-muted" >
			{$tooltip ESTUDIANTESACARGO COMPINDICADOR}
			</div>
		</div>
	</div>
</div>
{END COMPINDICADOR_tabfieldblock}
{BEGIN COMPESTRATEGIA_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_COMPESTRATEGIA}" data-fieldname="COMPESTRATEGIA" data-signal-error-for="COMPESTRATEGIA{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_COMPESTRATEGIA}">
			{BEGIN COMPESTRATEGIA_label}{$label ESTUDIANTESACARGO COMPESTRATEGIA}{END COMPESTRATEGIA_label}
		</label>
		<div class="col-md-6 " >
			{$COMPESTRATEGIA_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="COMPESTRATEGIA">
			<div class="text-muted" >
			{$tooltip ESTUDIANTESACARGO COMPESTRATEGIA}
			</div>
		</div>
	</div>
</div>
{END COMPESTRATEGIA_tabfieldblock}
{BEGIN COMPHERRAMIENTAS_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_COMPHERRAMIENTAS}" data-fieldname="COMPHERRAMIENTAS" data-signal-error-for="COMPHERRAMIENTAS{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_COMPHERRAMIENTAS}">
			{BEGIN COMPHERRAMIENTAS_label}{$label ESTUDIANTESACARGO COMPHERRAMIENTAS}{END COMPHERRAMIENTAS_label}
		</label>
		<div class="col-md-6 " >
			{$COMPHERRAMIENTAS_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="COMPHERRAMIENTAS">
			<div class="text-muted" >
			{$tooltip ESTUDIANTESACARGO COMPHERRAMIENTAS}
			</div>
		</div>
	</div>
</div>
{END COMPHERRAMIENTAS_tabfieldblock}





</div>
{END container_tabfields}

</div>