<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class=" form-horizontal   "> 


{BEGIN PCLOGRO_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_PCLOGRO}" data-fieldname="PCLOGRO" data-signal-error-for="PCLOGRO{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_PCLOGRO}">
			{BEGIN PCLOGRO_label}{$label ESTUDIANTESACARGO PCLOGRO}{END PCLOGRO_label}
		</label>
		<div class="col-md-6 " >
			{$PCLOGRO_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="PCLOGRO">
			<div class="text-muted" >
			{$tooltip ESTUDIANTESACARGO PCLOGRO}
			</div>
		</div>
	</div>
</div>
{END PCLOGRO_tabfieldblock}
{BEGIN PCINDICADOR_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_PCINDICADOR}" data-fieldname="PCINDICADOR" data-signal-error-for="PCINDICADOR{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_PCINDICADOR}">
			{BEGIN PCINDICADOR_label}{$label ESTUDIANTESACARGO PCINDICADOR}{END PCINDICADOR_label}
		</label>
		<div class="col-md-6 " >
			{$PCINDICADOR_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="PCINDICADOR">
			<div class="text-muted" >
			{$tooltip ESTUDIANTESACARGO PCINDICADOR}
			</div>
		</div>
	</div>
</div>
{END PCINDICADOR_tabfieldblock}
{BEGIN PCESTRATEGIA_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_PCESTRATEGIA}" data-fieldname="PCESTRATEGIA" data-signal-error-for="PCESTRATEGIA{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_PCESTRATEGIA}">
			{BEGIN PCESTRATEGIA_label}{$label ESTUDIANTESACARGO PCESTRATEGIA}{END PCESTRATEGIA_label}
		</label>
		<div class="col-md-6 " >
			{$PCESTRATEGIA_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="PCESTRATEGIA">
			<div class="text-muted" >
			{$tooltip ESTUDIANTESACARGO PCESTRATEGIA}
			</div>
		</div>
	</div>
</div>
{END PCESTRATEGIA_tabfieldblock}
{BEGIN PCHERRAMIENTAS_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_PCHERRAMIENTAS}" data-fieldname="PCHERRAMIENTAS" data-signal-error-for="PCHERRAMIENTAS{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_PCHERRAMIENTAS}">
			{BEGIN PCHERRAMIENTAS_label}{$label ESTUDIANTESACARGO PCHERRAMIENTAS}{END PCHERRAMIENTAS_label}
		</label>
		<div class="col-md-6 " >
			{$PCHERRAMIENTAS_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="PCHERRAMIENTAS">
			<div class="text-muted" >
			{$tooltip ESTUDIANTESACARGO PCHERRAMIENTAS}
			</div>
		</div>
	</div>
</div>
{END PCHERRAMIENTAS_tabfieldblock}





</div>
{END container_tabfields}

</div>