<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class=" form-horizontal   "> 


{BEGIN ARTISTICALOGRO_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_ARTISTICALOGRO}" data-fieldname="ARTISTICALOGRO" data-signal-error-for="ARTISTICALOGRO{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_ARTISTICALOGRO}">
			{BEGIN ARTISTICALOGRO_label}{$label ESTUDIANTESACARGO ARTISTICALOGRO}{END ARTISTICALOGRO_label}
		</label>
		<div class="col-md-6 " >
			{$ARTISTICALOGRO_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="ARTISTICALOGRO">
			<div class="text-muted" >
			{$tooltip ESTUDIANTESACARGO ARTISTICALOGRO}
			</div>
		</div>
	</div>
</div>
{END ARTISTICALOGRO_tabfieldblock}
{BEGIN ARTISTICAINDICADOR_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_ARTISTICAINDICADOR}" data-fieldname="ARTISTICAINDICADOR" data-signal-error-for="ARTISTICAINDICADOR{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_ARTISTICAINDICADOR}">
			{BEGIN ARTISTICAINDICADOR_label}{$label ESTUDIANTESACARGO ARTISTICAINDICADOR}{END ARTISTICAINDICADOR_label}
		</label>
		<div class="col-md-6 " >
			{$ARTISTICAINDICADOR_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="ARTISTICAINDICADOR">
			<div class="text-muted" >
			{$tooltip ESTUDIANTESACARGO ARTISTICAINDICADOR}
			</div>
		</div>
	</div>
</div>
{END ARTISTICAINDICADOR_tabfieldblock}
{BEGIN ARTISTICAESTRATEGIA_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_ARTISTICAESTRATEGIA}" data-fieldname="ARTISTICAESTRATEGIA" data-signal-error-for="ARTISTICAESTRATEGIA{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_ARTISTICAESTRATEGIA}">
			{BEGIN ARTISTICAESTRATEGIA_label}{$label ESTUDIANTESACARGO ARTISTICAESTRATEGIA}{END ARTISTICAESTRATEGIA_label}
		</label>
		<div class="col-md-6 " >
			{$ARTISTICAESTRATEGIA_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="ARTISTICAESTRATEGIA">
			<div class="text-muted" >
			{$tooltip ESTUDIANTESACARGO ARTISTICAESTRATEGIA}
			</div>
		</div>
	</div>
</div>
{END ARTISTICAESTRATEGIA_tabfieldblock}
{BEGIN ARTISTICAHERRAMIENTAS_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_ARTISTICAHERRAMIENTAS}" data-fieldname="ARTISTICAHERRAMIENTAS" data-signal-error-for="ARTISTICAHERRAMIENTAS{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_ARTISTICAHERRAMIENTAS}">
			{BEGIN ARTISTICAHERRAMIENTAS_label}{$label ESTUDIANTESACARGO ARTISTICAHERRAMIENTAS}{END ARTISTICAHERRAMIENTAS_label}
		</label>
		<div class="col-md-6 " >
			{$ARTISTICAHERRAMIENTAS_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="ARTISTICAHERRAMIENTAS">
			<div class="text-muted" >
			{$tooltip ESTUDIANTESACARGO ARTISTICAHERRAMIENTAS}
			</div>
		</div>
	</div>
</div>
{END ARTISTICAHERRAMIENTAS_tabfieldblock}





</div>
{END container_tabfields}

</div>