<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class=" form-horizontal   "> 


{BEGIN SALOGRO_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_SALOGRO}" data-fieldname="SALOGRO" data-signal-error-for="SALOGRO{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_SALOGRO}">
			{BEGIN SALOGRO_label}{$label ESTUDIANTESACARGO SALOGRO}{END SALOGRO_label}
		</label>
		<div class="col-md-6 " >
			{$SALOGRO_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="SALOGRO">
			<div class="text-muted" >
			{$tooltip ESTUDIANTESACARGO SALOGRO}
			</div>
		</div>
	</div>
</div>
{END SALOGRO_tabfieldblock}
{BEGIN SAINNDICADOR_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_SAINNDICADOR}" data-fieldname="SAINNDICADOR" data-signal-error-for="SAINNDICADOR{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_SAINNDICADOR}">
			{BEGIN SAINNDICADOR_label}{$label ESTUDIANTESACARGO SAINNDICADOR}{END SAINNDICADOR_label}
		</label>
		<div class="col-md-6 " >
			{$SAINNDICADOR_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="SAINNDICADOR">
			<div class="text-muted" >
			{$tooltip ESTUDIANTESACARGO SAINNDICADOR}
			</div>
		</div>
	</div>
</div>
{END SAINNDICADOR_tabfieldblock}
{BEGIN SAESTRATEGIA_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_SAESTRATEGIA}" data-fieldname="SAESTRATEGIA" data-signal-error-for="SAESTRATEGIA{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_SAESTRATEGIA}">
			{BEGIN SAESTRATEGIA_label}{$label ESTUDIANTESACARGO SAESTRATEGIA}{END SAESTRATEGIA_label}
		</label>
		<div class="col-md-6 " >
			{$SAESTRATEGIA_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="SAESTRATEGIA">
			<div class="text-muted" >
			{$tooltip ESTUDIANTESACARGO SAESTRATEGIA}
			</div>
		</div>
	</div>
</div>
{END SAESTRATEGIA_tabfieldblock}
{BEGIN SAHERRAMIENTAS_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_SAHERRAMIENTAS}" data-fieldname="SAHERRAMIENTAS" data-signal-error-for="SAHERRAMIENTAS{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_SAHERRAMIENTAS}">
			{BEGIN SAHERRAMIENTAS_label}{$label ESTUDIANTESACARGO SAHERRAMIENTAS}{END SAHERRAMIENTAS_label}
		</label>
		<div class="col-md-6 " >
			{$SAHERRAMIENTAS_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="SAHERRAMIENTAS">
			<div class="text-muted" >
			{$tooltip ESTUDIANTESACARGO SAHERRAMIENTAS}
			</div>
		</div>
	</div>
</div>
{END SAHERRAMIENTAS_tabfieldblock}





</div>
{END container_tabfields}

</div>