<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class=" form-horizontal   "> 


{BEGIN FISICALOGRO_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_FISICALOGRO}" data-fieldname="FISICALOGRO" data-signal-error-for="FISICALOGRO{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_FISICALOGRO}">
			{BEGIN FISICALOGRO_label}{$label ESTUDIANTESACARGO FISICALOGRO}{END FISICALOGRO_label}
		</label>
		<div class="col-md-6 " >
			{$FISICALOGRO_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="FISICALOGRO">
			<div class="text-muted" >
			{$tooltip ESTUDIANTESACARGO FISICALOGRO}
			</div>
		</div>
	</div>
</div>
{END FISICALOGRO_tabfieldblock}
{BEGIN FISICAINDICADOR_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_FISICAINDICADOR}" data-fieldname="FISICAINDICADOR" data-signal-error-for="FISICAINDICADOR{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_FISICAINDICADOR}">
			{BEGIN FISICAINDICADOR_label}{$label ESTUDIANTESACARGO FISICAINDICADOR}{END FISICAINDICADOR_label}
		</label>
		<div class="col-md-6 " >
			{$FISICAINDICADOR_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="FISICAINDICADOR">
			<div class="text-muted" >
			{$tooltip ESTUDIANTESACARGO FISICAINDICADOR}
			</div>
		</div>
	</div>
</div>
{END FISICAINDICADOR_tabfieldblock}
{BEGIN FISICAESTRATEGIA_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_FISICAESTRATEGIA}" data-fieldname="FISICAESTRATEGIA" data-signal-error-for="FISICAESTRATEGIA{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_FISICAESTRATEGIA}">
			{BEGIN FISICAESTRATEGIA_label}{$label ESTUDIANTESACARGO FISICAESTRATEGIA}{END FISICAESTRATEGIA_label}
		</label>
		<div class="col-md-6 " >
			{$FISICAESTRATEGIA_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="FISICAESTRATEGIA">
			<div class="text-muted" >
			{$tooltip ESTUDIANTESACARGO FISICAESTRATEGIA}
			</div>
		</div>
	</div>
</div>
{END FISICAESTRATEGIA_tabfieldblock}
{BEGIN FISICAHERRAMIENTAS_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_FISICAHERRAMIENTAS}" data-fieldname="FISICAHERRAMIENTAS" data-signal-error-for="FISICAHERRAMIENTAS{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_FISICAHERRAMIENTAS}">
			{BEGIN FISICAHERRAMIENTAS_label}{$label ESTUDIANTESACARGO FISICAHERRAMIENTAS}{END FISICAHERRAMIENTAS_label}
		</label>
		<div class="col-md-6 " >
			{$FISICAHERRAMIENTAS_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="FISICAHERRAMIENTAS">
			<div class="text-muted" >
			{$tooltip ESTUDIANTESACARGO FISICAHERRAMIENTAS}
			</div>
		</div>
	</div>
</div>
{END FISICAHERRAMIENTAS_tabfieldblock}





</div>
{END container_tabfields}

</div>