<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="ASPECTOS1">
	{$ASPECTOS1_editcontrol}
	</control>
	<control field="DESCIPCION1">
	{$DESCIPCION1_editcontrol}
	</control>
	<control field="ASPECTOS2">
	{$ASPECTOS2_editcontrol}
	</control>
	<control field="DESCRIPCION2">
	{$DESCRIPCION2_editcontrol}
	</control>
	<control field="ASPECTOS3">
	{$ASPECTOS3_editcontrol}
	</control>
	<control field="DESCIPCION3">
	{$DESCIPCION3_editcontrol}
	</control>
	<control field="ASPECTOS4">
	{$ASPECTOS4_editcontrol}
	</control>
	<control field="DESCRIPCION4">
	{$DESCRIPCION4_editcontrol}
	</control>
	<control field="ASPECTOS5">
	{$ASPECTOS5_editcontrol}
	</control>
	<control field="DESCRIPCION5">
	{$DESCRIPCION5_editcontrol}
	</control>
	<control field="ASPECTOS6">
	{$ASPECTOS6_editcontrol}
	</control>
	<control field="DESCRIPCION6">
	{$DESCRIPCION6_editcontrol}
	</control>
	<control field="ASPECTOS7">
	{$ASPECTOS7_editcontrol}
	</control>
	<control field="DESCRIPCION7">
	{$DESCRIPCION7_editcontrol}
	</control>
	<control field="ASPECTOS8">
	{$ASPECTOS8_editcontrol}
	</control>
	<control field="DESCRIPCION8">
	{$DESCRIPCION8_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>