<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_searchpage}
<div {$searchpage_chiddenattr} data-pageid="{$pageid}" data-container="searchpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-6 col-md-offset-3"> 

{BEGIN searchheader}
	<h2 {$bssearchheader_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchheader" >{$pagetitlelabel seguimiento search}</h2>
	{BEGIN printtabheader}<h4>{$printtabheader_text}</h4>{END printtabheader}

{END searchheader}



</div>
{END container_header}






</div>
{END container_searchpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$bssearchfields_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchfields" class="form-horizontal" role="form">
<div class="container">
	<div class="form-group">
		<div class="col-md-12" >
			&nbsp;
		</div>
	</div>
</div>
	{BEGIN ID_SEGUIMIENTO_fieldblock}		
	<div class="container {$fielddispclass_ID_SEGUIMIENTO}" data-fieldname="ID_SEGUIMIENTO">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_ID_SEGUIMIENTO}">
				{$label seguimiento ID_SEGUIMIENTO}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_ID_SEGUIMIENTO}
			</div>
			<div class="col-md-4" >
				{$ID_SEGUIMIENTO_editcontrol}
			</div>
			<div class="col-md-4" >
				{$ID_SEGUIMIENTO_editcontrol1}
			</div>
		</div>
	</div>
{END ID_SEGUIMIENTO_fieldblock}
	{BEGIN VALORACION1_fieldblock}		
	<div class="container {$fielddispclass_VALORACION1}" data-fieldname="VALORACION1">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_VALORACION1}">
				{$label seguimiento VALORACION1}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_VALORACION1}
			</div>
			<div class="col-md-4" >
				{$VALORACION1_editcontrol}
			</div>
			<div class="col-md-4" >
				{$VALORACION1_editcontrol1}
			</div>
		</div>
	</div>
{END VALORACION1_fieldblock}
	{BEGIN VALORACION2_fieldblock}		
	<div class="container {$fielddispclass_VALORACION2}" data-fieldname="VALORACION2">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_VALORACION2}">
				{$label seguimiento VALORACION2}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_VALORACION2}
			</div>
			<div class="col-md-4" >
				{$VALORACION2_editcontrol}
			</div>
			<div class="col-md-4" >
				{$VALORACION2_editcontrol1}
			</div>
		</div>
	</div>
{END VALORACION2_fieldblock}
	{BEGIN VALORACION3_fieldblock}		
	<div class="container {$fielddispclass_VALORACION3}" data-fieldname="VALORACION3">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_VALORACION3}">
				{$label seguimiento VALORACION3}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_VALORACION3}
			</div>
			<div class="col-md-4" >
				{$VALORACION3_editcontrol}
			</div>
			<div class="col-md-4" >
				{$VALORACION3_editcontrol1}
			</div>
		</div>
	</div>
{END VALORACION3_fieldblock}
	{BEGIN VALORACION4_fieldblock}		
	<div class="container {$fielddispclass_VALORACION4}" data-fieldname="VALORACION4">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_VALORACION4}">
				{$label seguimiento VALORACION4}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_VALORACION4}
			</div>
			<div class="col-md-4" >
				{$VALORACION4_editcontrol}
			</div>
			<div class="col-md-4" >
				{$VALORACION4_editcontrol1}
			</div>
		</div>
	</div>
{END VALORACION4_fieldblock}
	{BEGIN VALORACION5_fieldblock}		
	<div class="container {$fielddispclass_VALORACION5}" data-fieldname="VALORACION5">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_VALORACION5}">
				{$label seguimiento VALORACION5}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_VALORACION5}
			</div>
			<div class="col-md-4" >
				{$VALORACION5_editcontrol}
			</div>
			<div class="col-md-4" >
				{$VALORACION5_editcontrol1}
			</div>
		</div>
	</div>
{END VALORACION5_fieldblock}
	{BEGIN VALORACION6_fieldblock}		
	<div class="container {$fielddispclass_VALORACION6}" data-fieldname="VALORACION6">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_VALORACION6}">
				{$label seguimiento VALORACION6}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_VALORACION6}
			</div>
			<div class="col-md-4" >
				{$VALORACION6_editcontrol}
			</div>
			<div class="col-md-4" >
				{$VALORACION6_editcontrol1}
			</div>
		</div>
	</div>
{END VALORACION6_fieldblock}
	{BEGIN VALORACION7_fieldblock}		
	<div class="container {$fielddispclass_VALORACION7}" data-fieldname="VALORACION7">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_VALORACION7}">
				{$label seguimiento VALORACION7}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_VALORACION7}
			</div>
			<div class="col-md-4" >
				{$VALORACION7_editcontrol}
			</div>
			<div class="col-md-4" >
				{$VALORACION7_editcontrol1}
			</div>
		</div>
	</div>
{END VALORACION7_fieldblock}
	{BEGIN VALORACION8_fieldblock}		
	<div class="container {$fielddispclass_VALORACION8}" data-fieldname="VALORACION8">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_VALORACION8}">
				{$label seguimiento VALORACION8}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_VALORACION8}
			</div>
			<div class="col-md-4" >
				{$VALORACION8_editcontrol}
			</div>
			<div class="col-md-4" >
				{$VALORACION8_editcontrol1}
			</div>
		</div>
	</div>
{END VALORACION8_fieldblock}
	{BEGIN SUMATORIA_fieldblock}		
	<div class="container {$fielddispclass_SUMATORIA}" data-fieldname="SUMATORIA">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_SUMATORIA}">
				{$label seguimiento SUMATORIA}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_SUMATORIA}
			</div>
			<div class="col-md-4" >
				{$SUMATORIA_editcontrol}
			</div>
			<div class="col-md-4" >
				{$SUMATORIA_editcontrol1}
			</div>
		</div>
	</div>
{END SUMATORIA_fieldblock}
	{BEGIN RENDIMIENTO_fieldblock}		
	<div class="container {$fielddispclass_RENDIMIENTO}" data-fieldname="RENDIMIENTO">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_RENDIMIENTO}">
				{$label seguimiento RENDIMIENTO}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_RENDIMIENTO}
			</div>
			<div class="col-md-4" >
				{$RENDIMIENTO_editcontrol}
			</div>
			<div class="col-md-4" >
				{$RENDIMIENTO_editcontrol1}
			</div>
		</div>
	</div>
{END RENDIMIENTO_fieldblock}
	{BEGIN CODCASO_fieldblock}		
	<div class="container {$fielddispclass_CODCASO}" data-fieldname="CODCASO">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_CODCASO}">
				{$label seguimiento CODCASO}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_CODCASO}
			</div>
			<div class="col-md-4" >
				{$CODCASO_editcontrol}
			</div>
			<div class="col-md-4" >
				{$CODCASO_editcontrol1}
			</div>
		</div>
	</div>
{END CODCASO_fieldblock}
	{BEGIN DOCENTE_fieldblock}		
	<div class="container {$fielddispclass_DOCENTE}" data-fieldname="DOCENTE">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_DOCENTE}">
				{$label seguimiento DOCENTE}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_DOCENTE}
			</div>
			<div class="col-md-4" >
				{$DOCENTE_editcontrol}
			</div>
			<div class="col-md-4" >
				{$DOCENTE_editcontrol1}
			</div>
		</div>
	</div>
{END DOCENTE_fieldblock}
	{BEGIN ASPECTOS1_fieldblock}		
	<div class="container {$fielddispclass_ASPECTOS1}" data-fieldname="ASPECTOS1">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_ASPECTOS1}">
				{$label seguimiento ASPECTOS1}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_ASPECTOS1}
			</div>
			<div class="col-md-4" >
				{$ASPECTOS1_editcontrol}
			</div>
			<div class="col-md-4" >
				{$ASPECTOS1_editcontrol1}
			</div>
		</div>
	</div>
{END ASPECTOS1_fieldblock}
	{BEGIN DESCIPCION1_fieldblock}		
	<div class="container {$fielddispclass_DESCIPCION1}" data-fieldname="DESCIPCION1">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_DESCIPCION1}">
				{$label seguimiento DESCIPCION1}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_DESCIPCION1}
			</div>
			<div class="col-md-4" >
				{$DESCIPCION1_editcontrol}
			</div>
			<div class="col-md-4" >
				{$DESCIPCION1_editcontrol1}
			</div>
		</div>
	</div>
{END DESCIPCION1_fieldblock}
	{BEGIN ASPECTOS2_fieldblock}		
	<div class="container {$fielddispclass_ASPECTOS2}" data-fieldname="ASPECTOS2">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_ASPECTOS2}">
				{$label seguimiento ASPECTOS2}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_ASPECTOS2}
			</div>
			<div class="col-md-4" >
				{$ASPECTOS2_editcontrol}
			</div>
			<div class="col-md-4" >
				{$ASPECTOS2_editcontrol1}
			</div>
		</div>
	</div>
{END ASPECTOS2_fieldblock}
	{BEGIN DESCRIPCION2_fieldblock}		
	<div class="container {$fielddispclass_DESCRIPCION2}" data-fieldname="DESCRIPCION2">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_DESCRIPCION2}">
				{$label seguimiento DESCRIPCION2}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_DESCRIPCION2}
			</div>
			<div class="col-md-4" >
				{$DESCRIPCION2_editcontrol}
			</div>
			<div class="col-md-4" >
				{$DESCRIPCION2_editcontrol1}
			</div>
		</div>
	</div>
{END DESCRIPCION2_fieldblock}
	{BEGIN ASPECTOS3_fieldblock}		
	<div class="container {$fielddispclass_ASPECTOS3}" data-fieldname="ASPECTOS3">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_ASPECTOS3}">
				{$label seguimiento ASPECTOS3}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_ASPECTOS3}
			</div>
			<div class="col-md-4" >
				{$ASPECTOS3_editcontrol}
			</div>
			<div class="col-md-4" >
				{$ASPECTOS3_editcontrol1}
			</div>
		</div>
	</div>
{END ASPECTOS3_fieldblock}
	{BEGIN DESCRIPCION5_fieldblock}		
	<div class="container {$fielddispclass_DESCRIPCION5}" data-fieldname="DESCRIPCION5">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_DESCRIPCION5}">
				{$label seguimiento DESCRIPCION5}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_DESCRIPCION5}
			</div>
			<div class="col-md-4" >
				{$DESCRIPCION5_editcontrol}
			</div>
			<div class="col-md-4" >
				{$DESCRIPCION5_editcontrol1}
			</div>
		</div>
	</div>
{END DESCRIPCION5_fieldblock}
	{BEGIN DESCRIPCION6_fieldblock}		
	<div class="container {$fielddispclass_DESCRIPCION6}" data-fieldname="DESCRIPCION6">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_DESCRIPCION6}">
				{$label seguimiento DESCRIPCION6}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_DESCRIPCION6}
			</div>
			<div class="col-md-4" >
				{$DESCRIPCION6_editcontrol}
			</div>
			<div class="col-md-4" >
				{$DESCRIPCION6_editcontrol1}
			</div>
		</div>
	</div>
{END DESCRIPCION6_fieldblock}
	{BEGIN ASPECTOS6_fieldblock}		
	<div class="container {$fielddispclass_ASPECTOS6}" data-fieldname="ASPECTOS6">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_ASPECTOS6}">
				{$label seguimiento ASPECTOS6}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_ASPECTOS6}
			</div>
			<div class="col-md-4" >
				{$ASPECTOS6_editcontrol}
			</div>
			<div class="col-md-4" >
				{$ASPECTOS6_editcontrol1}
			</div>
		</div>
	</div>
{END ASPECTOS6_fieldblock}
	{BEGIN ASPECTOS7_fieldblock}		
	<div class="container {$fielddispclass_ASPECTOS7}" data-fieldname="ASPECTOS7">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_ASPECTOS7}">
				{$label seguimiento ASPECTOS7}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_ASPECTOS7}
			</div>
			<div class="col-md-4" >
				{$ASPECTOS7_editcontrol}
			</div>
			<div class="col-md-4" >
				{$ASPECTOS7_editcontrol1}
			</div>
		</div>
	</div>
{END ASPECTOS7_fieldblock}
	{BEGIN DESCRIPCION7_fieldblock}		
	<div class="container {$fielddispclass_DESCRIPCION7}" data-fieldname="DESCRIPCION7">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_DESCRIPCION7}">
				{$label seguimiento DESCRIPCION7}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_DESCRIPCION7}
			</div>
			<div class="col-md-4" >
				{$DESCRIPCION7_editcontrol}
			</div>
			<div class="col-md-4" >
				{$DESCRIPCION7_editcontrol1}
			</div>
		</div>
	</div>
{END DESCRIPCION7_fieldblock}
	{BEGIN ASPECTOS8_fieldblock}		
	<div class="container {$fielddispclass_ASPECTOS8}" data-fieldname="ASPECTOS8">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_ASPECTOS8}">
				{$label seguimiento ASPECTOS8}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_ASPECTOS8}
			</div>
			<div class="col-md-4" >
				{$ASPECTOS8_editcontrol}
			</div>
			<div class="col-md-4" >
				{$ASPECTOS8_editcontrol1}
			</div>
		</div>
	</div>
{END ASPECTOS8_fieldblock}
	{BEGIN DESCRIPCION8_fieldblock}		
	<div class="container {$fielddispclass_DESCRIPCION8}" data-fieldname="DESCRIPCION8">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_DESCRIPCION8}">
				{$label seguimiento DESCRIPCION8}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_DESCRIPCION8}
			</div>
			<div class="col-md-4" >
				{$DESCRIPCION8_editcontrol}
			</div>
			<div class="col-md-4" >
				{$DESCRIPCION8_editcontrol1}
			</div>
		</div>
	</div>
{END DESCRIPCION8_fieldblock}
	{BEGIN DESCIPCION3_fieldblock}		
	<div class="container {$fielddispclass_DESCIPCION3}" data-fieldname="DESCIPCION3">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_DESCIPCION3}">
				{$label seguimiento DESCIPCION3}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_DESCIPCION3}
			</div>
			<div class="col-md-4" >
				{$DESCIPCION3_editcontrol}
			</div>
			<div class="col-md-4" >
				{$DESCIPCION3_editcontrol1}
			</div>
		</div>
	</div>
{END DESCIPCION3_fieldblock}
	{BEGIN DESCRIPCION4_fieldblock}		
	<div class="container {$fielddispclass_DESCRIPCION4}" data-fieldname="DESCRIPCION4">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_DESCRIPCION4}">
				{$label seguimiento DESCRIPCION4}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_DESCRIPCION4}
			</div>
			<div class="col-md-4" >
				{$DESCRIPCION4_editcontrol}
			</div>
			<div class="col-md-4" >
				{$DESCRIPCION4_editcontrol1}
			</div>
		</div>
	</div>
{END DESCRIPCION4_fieldblock}
	{BEGIN ASPECTOS4_fieldblock}		
	<div class="container {$fielddispclass_ASPECTOS4}" data-fieldname="ASPECTOS4">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_ASPECTOS4}">
				{$label seguimiento ASPECTOS4}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_ASPECTOS4}
			</div>
			<div class="col-md-4" >
				{$ASPECTOS4_editcontrol}
			</div>
			<div class="col-md-4" >
				{$ASPECTOS4_editcontrol1}
			</div>
		</div>
	</div>
{END ASPECTOS4_fieldblock}
	{BEGIN ASPECTOS5_fieldblock}		
	<div class="container {$fielddispclass_ASPECTOS5}" data-fieldname="ASPECTOS5">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_ASPECTOS5}">
				{$label seguimiento ASPECTOS5}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_ASPECTOS5}
			</div>
			<div class="col-md-4" >
				{$ASPECTOS5_editcontrol}
			</div>
			<div class="col-md-4" >
				{$ASPECTOS5_editcontrol1}
			</div>
		</div>
	</div>
{END ASPECTOS5_fieldblock}
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container form-horizontal   "> 




{BEGIN container_bbuttons}
<div {$bbuttons_chiddenattr} data-pageid="{$pageid}" data-container="bbuttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-10 col-md-offset-2"> 

{BEGIN searchbuttons}
{BEGIN search_button}
<button class="btn btn-primary" {$searchbutton_attrs}>Search</button>
{END search_button} 
{BEGIN reset_button}
<button class="btn btn-default" {$resetbutton_attrs}>Reset</button>
{END reset_button}
{BEGIN back_button}
<button class="btn btn-default" {$backbutton_attrs}>Back to list</button>
{END back_button}
{END searchbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_bbuttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
