<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-print" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_pdf}
<div {$pdf_chiddenattr} data-pageid="{$pageid}" data-container="pdf" class="   col-md-12 "> 

{BEGIN printbuttons}

{END printbuttons}



</div>
{END container_pdf}





{BEGIN container_pageheader}
<div {$pageheader_chiddenattr} data-pageid="{$pageid}" data-container="pageheader" class="    "> 

{BEGIN printheader}
	<h2 {$printheader_hiddenattr} data-pageid="{$pageid}" data-brick="printheader" >{$pagetitlelabel seguimiento print}</h2>
	{BEGIN printtabheader}<h4>{$printtabheader_text}</h4>{END printtabheader}

{END printheader}


{BEGIN page_number}
<span>Page <span class="rp-pageno">{$pageno}</span> of <span class="rp-pagecount">{$pagecount}</span></span>
{END page_number}



</div>
{END container_pageheader}



{BEGIN container_grid}


{BEGIN grid_block}
	<table class="table table-bordered rp-maintable" {$printgrid_hiddenattr} data-pageid="{$pageid}" data-brick="printgrid" >
	<thead>
	{BEGIN grid_header}
		<tr class="{$gridHeader_class}" >
		{BEGIN record_header}
			{BEGIN VALORACION1_fieldheadercolumn}
			<th class="{$VALORACION1_class}" {$VALORACION1_style}  data-field="VALORACION1">
				{$label seguimiento VALORACION1}
			</th>
			{END VALORACION1_fieldheadercolumn}
			{BEGIN VALORACION2_fieldheadercolumn}
			<th class="{$VALORACION2_class}" {$VALORACION2_style}  data-field="VALORACION2">
				{$label seguimiento VALORACION2}
			</th>
			{END VALORACION2_fieldheadercolumn}
			{BEGIN VALORACION3_fieldheadercolumn}
			<th class="{$VALORACION3_class}" {$VALORACION3_style}  data-field="VALORACION3">
				{$label seguimiento VALORACION3}
			</th>
			{END VALORACION3_fieldheadercolumn}
			{BEGIN VALORACION4_fieldheadercolumn}
			<th class="{$VALORACION4_class}" {$VALORACION4_style}  data-field="VALORACION4">
				{$label seguimiento VALORACION4}
			</th>
			{END VALORACION4_fieldheadercolumn}
			{BEGIN VALORACION5_fieldheadercolumn}
			<th class="{$VALORACION5_class}" {$VALORACION5_style}  data-field="VALORACION5">
				{$label seguimiento VALORACION5}
			</th>
			{END VALORACION5_fieldheadercolumn}
			{BEGIN VALORACION6_fieldheadercolumn}
			<th class="{$VALORACION6_class}" {$VALORACION6_style}  data-field="VALORACION6">
				{$label seguimiento VALORACION6}
			</th>
			{END VALORACION6_fieldheadercolumn}
			{BEGIN VALORACION7_fieldheadercolumn}
			<th class="{$VALORACION7_class}" {$VALORACION7_style}  data-field="VALORACION7">
				{$label seguimiento VALORACION7}
			</th>
			{END VALORACION7_fieldheadercolumn}
			{BEGIN VALORACION8_fieldheadercolumn}
			<th class="{$VALORACION8_class}" {$VALORACION8_style}  data-field="VALORACION8">
				{$label seguimiento VALORACION8}
			</th>
			{END VALORACION8_fieldheadercolumn}
			{BEGIN SUMATORIA_fieldheadercolumn}
			<th class="{$SUMATORIA_class}" {$SUMATORIA_style}  data-field="SUMATORIA">
				{$label seguimiento SUMATORIA}
			</th>
			{END SUMATORIA_fieldheadercolumn}
			{BEGIN RENDIMIENTO_fieldheadercolumn}
			<th class="{$RENDIMIENTO_class}" {$RENDIMIENTO_style}  data-field="RENDIMIENTO">
				{$label seguimiento RENDIMIENTO}
			</th>
			{END RENDIMIENTO_fieldheadercolumn}
			{BEGIN CODCASO_fieldheadercolumn}
			<th class="{$CODCASO_class}" {$CODCASO_style}  data-field="CODCASO">
				{$label seguimiento CODCASO}
			</th>
			{END CODCASO_fieldheadercolumn}
			{BEGIN DOCENTE_fieldheadercolumn}
			<th class="{$DOCENTE_class}" {$DOCENTE_style}  data-field="DOCENTE">
				{$label seguimiento DOCENTE}
			</th>
			{END DOCENTE_fieldheadercolumn}
			{BEGIN ASPECTOS1_fieldheadercolumn}
			<th class="{$ASPECTOS1_class}" {$ASPECTOS1_style}  data-field="ASPECTOS1">
				{$label seguimiento ASPECTOS1}
			</th>
			{END ASPECTOS1_fieldheadercolumn}
			{BEGIN DESCIPCION1_fieldheadercolumn}
			<th class="{$DESCIPCION1_class}" {$DESCIPCION1_style}  data-field="DESCIPCION1">
				{$label seguimiento DESCIPCION1}
			</th>
			{END DESCIPCION1_fieldheadercolumn}
			{BEGIN ASPECTOS2_fieldheadercolumn}
			<th class="{$ASPECTOS2_class}" {$ASPECTOS2_style}  data-field="ASPECTOS2">
				{$label seguimiento ASPECTOS2}
			</th>
			{END ASPECTOS2_fieldheadercolumn}
			{BEGIN DESCRIPCION2_fieldheadercolumn}
			<th class="{$DESCRIPCION2_class}" {$DESCRIPCION2_style}  data-field="DESCRIPCION2">
				{$label seguimiento DESCRIPCION2}
			</th>
			{END DESCRIPCION2_fieldheadercolumn}
			{BEGIN ASPECTOS3_fieldheadercolumn}
			<th class="{$ASPECTOS3_class}" {$ASPECTOS3_style}  data-field="ASPECTOS3">
				{$label seguimiento ASPECTOS3}
			</th>
			{END ASPECTOS3_fieldheadercolumn}
			{BEGIN DESCRIPCION5_fieldheadercolumn}
			<th class="{$DESCRIPCION5_class}" {$DESCRIPCION5_style}  data-field="DESCRIPCION5">
				{$label seguimiento DESCRIPCION5}
			</th>
			{END DESCRIPCION5_fieldheadercolumn}
			{BEGIN DESCRIPCION6_fieldheadercolumn}
			<th class="{$DESCRIPCION6_class}" {$DESCRIPCION6_style}  data-field="DESCRIPCION6">
				{$label seguimiento DESCRIPCION6}
			</th>
			{END DESCRIPCION6_fieldheadercolumn}
			{BEGIN ASPECTOS6_fieldheadercolumn}
			<th class="{$ASPECTOS6_class}" {$ASPECTOS6_style}  data-field="ASPECTOS6">
				{$label seguimiento ASPECTOS6}
			</th>
			{END ASPECTOS6_fieldheadercolumn}
			{BEGIN ASPECTOS7_fieldheadercolumn}
			<th class="{$ASPECTOS7_class}" {$ASPECTOS7_style}  data-field="ASPECTOS7">
				{$label seguimiento ASPECTOS7}
			</th>
			{END ASPECTOS7_fieldheadercolumn}
			{BEGIN DESCRIPCION7_fieldheadercolumn}
			<th class="{$DESCRIPCION7_class}" {$DESCRIPCION7_style}  data-field="DESCRIPCION7">
				{$label seguimiento DESCRIPCION7}
			</th>
			{END DESCRIPCION7_fieldheadercolumn}
			{BEGIN ASPECTOS8_fieldheadercolumn}
			<th class="{$ASPECTOS8_class}" {$ASPECTOS8_style}  data-field="ASPECTOS8">
				{$label seguimiento ASPECTOS8}
			</th>
			{END ASPECTOS8_fieldheadercolumn}
			{BEGIN DESCRIPCION8_fieldheadercolumn}
			<th class="{$DESCRIPCION8_class}" {$DESCRIPCION8_style}  data-field="DESCRIPCION8">
				{$label seguimiento DESCRIPCION8}
			</th>
			{END DESCRIPCION8_fieldheadercolumn}
			{BEGIN DESCIPCION3_fieldheadercolumn}
			<th class="{$DESCIPCION3_class}" {$DESCIPCION3_style}  data-field="DESCIPCION3">
				{$label seguimiento DESCIPCION3}
			</th>
			{END DESCIPCION3_fieldheadercolumn}
			{BEGIN DESCRIPCION4_fieldheadercolumn}
			<th class="{$DESCRIPCION4_class}" {$DESCRIPCION4_style}  data-field="DESCRIPCION4">
				{$label seguimiento DESCRIPCION4}
			</th>
			{END DESCRIPCION4_fieldheadercolumn}
			{BEGIN ASPECTOS4_fieldheadercolumn}
			<th class="{$ASPECTOS4_class}" {$ASPECTOS4_style}  data-field="ASPECTOS4">
				{$label seguimiento ASPECTOS4}
			</th>
			{END ASPECTOS4_fieldheadercolumn}
			{BEGIN ASPECTOS5_fieldheadercolumn}
			<th class="{$ASPECTOS5_class}" {$ASPECTOS5_style}  data-field="ASPECTOS5">
				{$label seguimiento ASPECTOS5}
			</th>
			{END ASPECTOS5_fieldheadercolumn}
			{BEGIN endrecordheader_block}
			<th class="rnr-cs">&nbsp;</th>
			{END endrecordheader_block}
		{END record_header}
		</tr>
	{END grid_header}
	</thead>
	
	<tbody>	
	{BEGIN grid_row}
		<tr class="{$rowclass}" {$rowattrs} {$rowstyle}>
		{BEGIN grid_record}
			{BEGIN VALORACION1_fieldcolumn}
			<td  class="{$VALORACION1_class}" {$VALORACION1_style} {$recordattrs}>
				{$VALORACION1_value}
			</td>
			{END VALORACION1_fieldcolumn}
			{BEGIN VALORACION2_fieldcolumn}
			<td  class="{$VALORACION2_class}" {$VALORACION2_style} {$recordattrs}>
				{$VALORACION2_value}
			</td>
			{END VALORACION2_fieldcolumn}
			{BEGIN VALORACION3_fieldcolumn}
			<td  class="{$VALORACION3_class}" {$VALORACION3_style} {$recordattrs}>
				{$VALORACION3_value}
			</td>
			{END VALORACION3_fieldcolumn}
			{BEGIN VALORACION4_fieldcolumn}
			<td  class="{$VALORACION4_class}" {$VALORACION4_style} {$recordattrs}>
				{$VALORACION4_value}
			</td>
			{END VALORACION4_fieldcolumn}
			{BEGIN VALORACION5_fieldcolumn}
			<td  class="{$VALORACION5_class}" {$VALORACION5_style} {$recordattrs}>
				{$VALORACION5_value}
			</td>
			{END VALORACION5_fieldcolumn}
			{BEGIN VALORACION6_fieldcolumn}
			<td  class="{$VALORACION6_class}" {$VALORACION6_style} {$recordattrs}>
				{$VALORACION6_value}
			</td>
			{END VALORACION6_fieldcolumn}
			{BEGIN VALORACION7_fieldcolumn}
			<td  class="{$VALORACION7_class}" {$VALORACION7_style} {$recordattrs}>
				{$VALORACION7_value}
			</td>
			{END VALORACION7_fieldcolumn}
			{BEGIN VALORACION8_fieldcolumn}
			<td  class="{$VALORACION8_class}" {$VALORACION8_style} {$recordattrs}>
				{$VALORACION8_value}
			</td>
			{END VALORACION8_fieldcolumn}
			{BEGIN SUMATORIA_fieldcolumn}
			<td  class="{$SUMATORIA_class}" {$SUMATORIA_style} {$recordattrs}>
				{$SUMATORIA_value}
			</td>
			{END SUMATORIA_fieldcolumn}
			{BEGIN RENDIMIENTO_fieldcolumn}
			<td  class="{$RENDIMIENTO_class}" {$RENDIMIENTO_style} {$recordattrs}>
				{$RENDIMIENTO_value}
			</td>
			{END RENDIMIENTO_fieldcolumn}
			{BEGIN CODCASO_fieldcolumn}
			<td  class="{$CODCASO_class}" {$CODCASO_style} {$recordattrs}>
				{$CODCASO_value}
			</td>
			{END CODCASO_fieldcolumn}
			{BEGIN DOCENTE_fieldcolumn}
			<td  class="{$DOCENTE_class}" {$DOCENTE_style} {$recordattrs}>
				{$DOCENTE_value}
			</td>
			{END DOCENTE_fieldcolumn}
			{BEGIN ASPECTOS1_fieldcolumn}
			<td  class="{$ASPECTOS1_class}" {$ASPECTOS1_style} {$recordattrs}>
				{$ASPECTOS1_value}
			</td>
			{END ASPECTOS1_fieldcolumn}
			{BEGIN DESCIPCION1_fieldcolumn}
			<td  class="{$DESCIPCION1_class}" {$DESCIPCION1_style} {$recordattrs}>
				{$DESCIPCION1_value}
			</td>
			{END DESCIPCION1_fieldcolumn}
			{BEGIN ASPECTOS2_fieldcolumn}
			<td  class="{$ASPECTOS2_class}" {$ASPECTOS2_style} {$recordattrs}>
				{$ASPECTOS2_value}
			</td>
			{END ASPECTOS2_fieldcolumn}
			{BEGIN DESCRIPCION2_fieldcolumn}
			<td  class="{$DESCRIPCION2_class}" {$DESCRIPCION2_style} {$recordattrs}>
				{$DESCRIPCION2_value}
			</td>
			{END DESCRIPCION2_fieldcolumn}
			{BEGIN ASPECTOS3_fieldcolumn}
			<td  class="{$ASPECTOS3_class}" {$ASPECTOS3_style} {$recordattrs}>
				{$ASPECTOS3_value}
			</td>
			{END ASPECTOS3_fieldcolumn}
			{BEGIN DESCRIPCION5_fieldcolumn}
			<td  class="{$DESCRIPCION5_class}" {$DESCRIPCION5_style} {$recordattrs}>
				{$DESCRIPCION5_value}
			</td>
			{END DESCRIPCION5_fieldcolumn}
			{BEGIN DESCRIPCION6_fieldcolumn}
			<td  class="{$DESCRIPCION6_class}" {$DESCRIPCION6_style} {$recordattrs}>
				{$DESCRIPCION6_value}
			</td>
			{END DESCRIPCION6_fieldcolumn}
			{BEGIN ASPECTOS6_fieldcolumn}
			<td  class="{$ASPECTOS6_class}" {$ASPECTOS6_style} {$recordattrs}>
				{$ASPECTOS6_value}
			</td>
			{END ASPECTOS6_fieldcolumn}
			{BEGIN ASPECTOS7_fieldcolumn}
			<td  class="{$ASPECTOS7_class}" {$ASPECTOS7_style} {$recordattrs}>
				{$ASPECTOS7_value}
			</td>
			{END ASPECTOS7_fieldcolumn}
			{BEGIN DESCRIPCION7_fieldcolumn}
			<td  class="{$DESCRIPCION7_class}" {$DESCRIPCION7_style} {$recordattrs}>
				{$DESCRIPCION7_value}
			</td>
			{END DESCRIPCION7_fieldcolumn}
			{BEGIN ASPECTOS8_fieldcolumn}
			<td  class="{$ASPECTOS8_class}" {$ASPECTOS8_style} {$recordattrs}>
				{$ASPECTOS8_value}
			</td>
			{END ASPECTOS8_fieldcolumn}
			{BEGIN DESCRIPCION8_fieldcolumn}
			<td  class="{$DESCRIPCION8_class}" {$DESCRIPCION8_style} {$recordattrs}>
				{$DESCRIPCION8_value}
			</td>
			{END DESCRIPCION8_fieldcolumn}
			{BEGIN DESCIPCION3_fieldcolumn}
			<td  class="{$DESCIPCION3_class}" {$DESCIPCION3_style} {$recordattrs}>
				{$DESCIPCION3_value}
			</td>
			{END DESCIPCION3_fieldcolumn}
			{BEGIN DESCRIPCION4_fieldcolumn}
			<td  class="{$DESCRIPCION4_class}" {$DESCRIPCION4_style} {$recordattrs}>
				{$DESCRIPCION4_value}
			</td>
			{END DESCRIPCION4_fieldcolumn}
			{BEGIN ASPECTOS4_fieldcolumn}
			<td  class="{$ASPECTOS4_class}" {$ASPECTOS4_style} {$recordattrs}>
				{$ASPECTOS4_value}
			</td>
			{END ASPECTOS4_fieldcolumn}
			{BEGIN ASPECTOS5_fieldcolumn}
			<td  class="{$ASPECTOS5_class}" {$ASPECTOS5_style} {$recordattrs}>
				{$ASPECTOS5_value}
			</td>
			{END ASPECTOS5_fieldcolumn}
			{BEGIN endrecord_block}
			<td class="rnr-cs" {$endrecordblock_attrs}>&nbsp;</td>
			{END endrecord_block}
		{END grid_record}
		</tr>
{END grid_row}
	</tbody>

</table>

{END grid_block}



{END container_grid}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
